/* styyles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
nav a{
    color: red;
    text-decoration: none;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #d9534f; /* Color rojo para los títulos */
}

img {
    display: block;
    margin: 20px auto; /* Centra la imagen */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de la pantalla */
    height: auto; /* Mantiene la proporción de la imagen */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

p {
    line-height: 1.6; /* Mejora la legibilidad del texto */
    margin: 10px 0; /* Espaciado entre párrafos */
}